@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary);
}

:root {
  --background-color: white;
  --primary: #bd5ef7;
  --secondary: #9c47e7;
  --text-color: #2c2c2c;
}

body {
  background-color: var(--background-color);
}
